body {
  background-color: darkgray;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}

.wrapper {
  width: 800px;
  margin: 30px auto;
  color: aliceblue;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  font-weight: bolder;
  text-transform: uppercase;
}
#col,
#seconds,
#tens {
  font-size: 5em;
  color: aqua;
}

button {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  border: solid 1px;
  font-size: 1.2em;
  padding: 20px;
  margin: 10px;
}
button:hover {
  color: darkgray;
  font-size: 1.6em;
}
#button-start {
  background-color: green;
}
#button-stop {
  background-color: red;
}
#button-reset {
  background-color: yellow;
}
